/* CSS files add styling rules to your content */

body {
    font-family: helvetica, arial, sans-serif;
    margin: 2em;
  }
  
  h1 {
    font-style: italic;
    color: #373fff;
  }

  

.building {
    width: 500px;
    height: 300px;
    background: grey;
}

.building .windowRow {
    width: 100%;
}

.building .window {
    margin: 4px;
    width: 20px;
    height: 30px;
    background: #a4addd;
    border: #333 solid 2px;
}


.building .window[data-selected='true'] {
    background: yellow;
}