/* CSS files add styling rules to your content */

body {
    font-family: helvetica, arial, sans-serif;
    margin: 2em;
  }
  
  h1 {
    font-style: italic;
    color: #373fff;
  }

.buildings {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.building {
    width: 225px;
    height: auto;
    margin: 0 20px;
    background: grey;
}

.building .windowRow {
    width: 100%;
}

.building .window {
    margin: 4px;
    width: 20px;
    height: 30px;
    background: #a4addd;
    border: #333 solid 2px;
}


.building .window[data-note='true'] {
    background: yellow;
}

.building .window[data-note='1'] {
    background: yellow;
}

.building .window[data-note='2'] {
    background: greenyellow;
}
.building .window[data-note='3'] {
    background: blue;
}
.building .window[data-note='4'] {
    background: violet;
}
.building .window[data-note='5'] {
    background: rgb(130, 198, 238);
}
.building .window[data-note='6'] {
    background: rgb(47, 92, 49);
}
.building .window[data-note='7'] {
    background: rgb(238, 191, 130);
}